@import "tailwindcss";

@theme {
  --color-background: #0B0F17;
  --color-foreground: #F8FAFC;
  
  --color-surface: #131B2E;
  --color-surface-border: #1E293B;
  
  --color-primary: #00F0FF;
  --color-secondary: #10B981;
  --color-text-muted: #94A3B8;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}
